# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [89]:
my_integer = 23

# Assinging float

In [90]:
my_float = 2.3

#### Performing Calculations on ints and floats

##### Addition

In [91]:
print(my_integer + my_float)

25.3

##### Subtraction

In [92]:
print(my_integer - my_float)

20.7

##### Multiplication

In [93]:
print(my_integer * my_float)

52.9

##### Division

In [94]:
print(my_integer / my_float)

10.0

##### Floor Division

In [95]:
print(my_integer // int(my_float))

11

##### Modulo

In [98]:
print(my_integer % (my_float))

1.7763568394002505e-15

##### Exponential

In [97]:
print(my_integer ** int(my_float))

529

### String Input-Output

##### String Assignment

In [2]:
name = input("What is your name? ")
greet = ("hello")
greet2 = (",have a great day!")
print(greet,name)

What is your name? Omar
hello Omar

##### print() <br>
<p>Don't forget about end=' '</p>

In [3]:
print(greet,name, end='!')

hello Omar!

##### String Concatenation

In [4]:
print("hello " + (name))

hello Omar

##### Type Conversion

##### input()

In [11]:
integer = 23
int_conversion = str(integer)
print(int_conversion)

23

In [12]:
print(input('what is your favorite dish? '))

what is your favorite dish? Shawarma
Shawarma

##### format()

In [13]:
print("Hello {cname}, I know you love {cfavfood}.".format(cname=name, cfavfood="japanese food"))

Hello Omar, I know you love japanese food.

##### Old Way (python 2)

In [14]:
print("Hello {}, I know you love {}.".format(name, "japanese food"))

Hello Omar, I know you love japanese food.

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [15]:
carcolor = input("What is the the color of your vehicle? ")
caryear = input("what is the year? ") 
carmake = input('what is the make? ')
carmodel = input("what is the model? ")
carinfo = "the car is a {carcolor} {caryear} {carmake} {carmodel}"
print(carinfo.format(carcolor=carcolor, caryear=caryear, carmake=carmake,carmodel=carmodel))

What is the the color of your vehicle? blue
what is the year? 2021
what is the make? hyundai
what is the model? sonata
the car is a blue 2021 hyundai sonata

### If Statements

In [16]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

if int(caryear) < int(2016):
    print("Car year is before 2016.")
else:
    print("car year is over 2016")
    
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

car year is over 2016

##### 'is' keyword

In [17]:
print(carmake is carmake)

True

##### 'in' keyword

In [18]:
print("the car is a" in carinfo)

True

##### 'not in' keyword'

In [19]:
print(carmodel not in carinfo )

True

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [20]:
word = input("what is your word? " )
checkfor = "p"

if checkfor in word:
    print("there is a letter p in your text. ")
else:
    print("letter p is not in the word. ")

what is your word? p
there is a letter p in your text.

## Using 'and'/'or' with If Statements

In [21]:
if carmake == "hyundai" and carcolor == "blue" or "red":
    print("car is a hyundai and it matches with the color description")

car is a hyundai and it matches with the color description

### Elif Statements

In [22]:
if carcolor == "blue":
    print("the car is blue.")
else:
    print("blue is not the color of the car.")

the car is blue.

### Else Statements

In [ ]:
# see above

### For Loops

In [25]:
carinfo = ["color","year","make","model"]
for detail in carinfo:
    print(detail)

color
year
make
model

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
countries = ["Madagascar","Ghana","Paraguay","Argentina"]
for i in countries:
    if i == "Ghana":
        continue
    print(i)

##### Break Statement

In [ ]:
# will break out of current loop

In [26]:
countries = ["Madagascar","Ghana","Paraguay","Argentina"]
for i in countries:
    if i == "Ghana":
        break
    print(i)

Madagascar

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [27]:
countries = ["Madagascar","Ghana","Paraguay","Argentina"]
for i in countries:
    if i == "Ghana":
        pass
    else:
        print(countries)

['Madagascar', 'Ghana', 'Paraguay', 'Argentina']
['Madagascar', 'Ghana', 'Paraguay', 'Argentina']
['Madagascar', 'Ghana', 'Paraguay', 'Argentina']

##### Double For Loops

In [31]:
countries = ["Madagascar", "Ghana", "Paraguay", "Argentina"]
for i in countries:
    for j in countries:
        if j == "Madagascar":
            print(j,",",i)

Madagascar , Madagascar
Madagascar , Ghana
Madagascar , Paraguay
Madagascar , Argentina

### While Loops

In [44]:
while "blue" or "red" or "black" or "silver" in carcolor:
    print('True')
    break
else:
    print('False')

True

##### Looping 'While True'

In [45]:
carrodetail = 2
while True:
    print(carrodetail)
    break

2

##### While & For Loops Used Together

In [42]:
def the_numbers(num):
    numbers = [1,3,4,5,7,9,53]
    for i in numbers:
        if i <= num:
            print(i)
    n = 0
    while n < len(numbers) and numbers[n] <= num:
        print(numbers[n])
        n += 1

the_numbers(5)

1
3
4
5
1
3
4
5

### Built-In Functions

##### range()

In [ ]:
my_numbers = range(230)
print(list(my_numbers))

##### len()

In [ ]:
doctor_es = "otorrinolaringologo"
print(len(doctor_es))

##### help()

In [43]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [41]:
doctor_es = "otorrinolaringologo"
print(isinstance(doctor_es,str))

True

##### abs()

In [40]:
print(abs(-45.32))

45.32

### Try and Except

In [ ]:
try:
    myinput = input("number? ")
    num = int(myinput) 
    print("You entered:", num)
except ValueError:
    print("Error: Invalid input")

### Lists

##### Declaring Lists

In [152]:
american_cars = ["Chevrolet","Ford","Dodge","Tesla"]

##### Indexing a List

In [143]:
print(american_cars[2])

Dodge

##### .append()

In [144]:
american_cars.append("Ram")
print(american_cars)

['Chevrolet', 'Ford', 'Dodge', 'Tesla', 'Ram']

##### .insert()

In [145]:
american_cars.insert(0,"Cadillac")
print(american_cars)

['Cadillac', 'Chevrolet', 'Ford', 'Dodge', 'Tesla', 'Ram']

##### .pop()

In [146]:
american_cars.pop(3)
print(american_cars)

['Cadillac', 'Chevrolet', 'Ford', 'Tesla', 'Ram']


##### .remove()

In [153]:
american_cars.remove("Ford")
print(american_cars)

['Chevrolet', 'Ford', 'Dodge', 'Tesla']

##### del()

In [156]:
del american_cars[0]
print(american_cars)

['Ford', 'Dodge', 'Tesla']

##### Concatenating Two Lists

In [159]:
print(american_cars + american_cars)

['Ford', 'Dodge', 'Tesla', 'Ford', 'Dodge', 'Tesla']

##### Lists Within Lists

In [157]:
cars= {'american':["Chevrolet","Ford","Dodge","Tesla"],
       'japanese':["Toyota","Honda","Mitsubishi", "Nissan"],
       'italian':["Maserati","Lamborghini","Ferrari","Alfa Romeo"]}

print (cars['italian'])

['Maserati', 'Lamborghini', 'Ferrari', 'Alfa Romeo']

##### Looping Through Lists

In [160]:
for car in cars:
    print(car)

american
japanese
italian

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
for num in range(1,1000):
    cube = num ** 3
    if cube > 1000:
        break
    print(f"the cube of {num} is {cube}")

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for num in range(2,101):
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("age? "))
if age < 18:
    print("kid")
elif age <= 65:
    print("adult")
else:
    age > 65 
    print("senior")